<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skel.appskeletonv4">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />



    <application
        android:name=".domain.common.CoreApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpaManagement">

        <activity
            android:name="com.skel.appskeletonv4.presentation.ui.dashboard.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Dashboard_style" />

        <activity
            android:name="com.skel.appskeletonv4.presentation.ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />


        <activity
            android:name="com.skel.appskeletonv4.presentation.ui.apploading.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>